.main-layout {
    margin-top: 32px;
    display: flex;
}

.flex-item {
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    .main-layout {
        margin-top: 54px;
    }
}

@media (min-width: 1440px) {
    .main-layout {
        margin-top: 62px;
    }
}
