:root {
    --swiper-theme-color: #363636;
}

.swiper {
    width: 100%;
    height: 300px;
}

.slide-image {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .swiper {
        flex: 0 0 136px;
        height: 238px;
        margin-right: 32px;
    }
}
